<a href="https://colab.research.google.com/github/tiagosst/Desafio-Projeto-da-Bibliteca-Pandas-Python/blob/main/aula_an_lise_explorat_ria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importando as bibliotecas

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("seaborn")

In [ ]:
from google.colab import files
arq = files.upload()

Saving AdventureWorks.xlsx to AdventureWorks (2).xlsx

In [ ]:
#criando o nosso Dataframe

In [ ]:
df = pd.read_excel("AdventureWorks.xlsx")

In [ ]:
#visualizar 5 primeiras linhas

In [ ]:
df.head()

,Data Venda,Data Envio,ID Loja,ID Produto,ID Cliente,No. Venda,Custo Unitário,Preço Unitário,Quantidade,Valor Desconto,Valor Venda,Produto,Fabricante,Marca,Classe,Cor
0,2008-05-09,2008-05-29,199,384,18839,200805093CS607,348.58,758.0,6,0.0,4548.0,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red
1,2008-05-12,2008-05-17,306,384,19051,200805123CS567,348.58,758.0,6,0.0,4548.0,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red
2,2008-05-14,2008-05-20,306,384,19052,200805143CS576,348.58,758.0,6,0.0,4548.0,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red
3,2008-05-21,2008-05-27,306,384,19052,200805213CS576,348.58,758.0,6,0.0,4548.0,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red
4,2008-06-20,2008-06-27,306,384,19053,200806203CS586,348.58,758.0,6,0.0,4548.0,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red

In [ ]:
#quantidades de linhas e colunas
df.shape

(904, 16)

In [ ]:
#verificando tipos de dados

In [ ]:
df.dtypes

Data Venda        datetime64[ns]
Data Envio        datetime64[ns]
ID Loja                    int64
ID Produto                 int64
ID Cliente                 int64
No. Venda                 object
Custo Unitário           float64
Preço Unitário           float64
Quantidade                 int64
Valor Desconto           float64
Valor Venda              float64
Produto                   object
Fabricante                object
Marca                     object
Classe                    object
Cor                       object
custo                    float64
dtype: object

In [ ]:
#valor receita total

df["Valor Venda"].sum()

5984606.1426

In [ ]:
#custo total

In [ ]:
df["custo"] = df["Custo Unitário"].mul(df["Quantidade"]) #criando coluna de custo

In [ ]:
df.head(1)

In [ ]:
#custo total

In [ ]:
round(df["custo"].sum(), 2)

2486783.05

In [ ]:
#com a receita e custo total, podemos achar o lucro total
#vamos criar uma coluna de lucro que sera Receita - custo

In [ ]:
df["lucro"] = df["Valor Venda"] - df["custo"]

In [ ]:
df.head(1)

In [ ]:
#lucro total

In [ ]:
round(df["lucro"].sum(), 2)

3497823.09

In [ ]:
#criando uma coluna com total de dias para enviar produto

In [ ]:
df["Tempo_Envio"] = df["Data Envio"] - df["Data Venda"]

In [ ]:
df.head(1)

,Data Venda,Data Envio,ID Loja,ID Produto,ID Cliente,No. Venda,Custo Unitário,Preço Unitário,Quantidade,Valor Desconto,Valor Venda,Produto,Fabricante,Marca,Classe,Cor,custo,lucro,Tempo_Envio
0,2008-05-09,2008-05-29,199,384,18839,200805093CS607,348.58,758.0,6,0.0,4548.0,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red,2091.48,2456.52,20 days

saber a data a media do tempo de envio para cada marca, para isso precisamos transformar a coluna tempo_envio e numerica

In [ ]:
#extraindo apenas os dias

In [ ]:
df["Tempo_envio"] = (df["Data Envio"] - df["Data Venda"]).dt.days

In [ ]:
df.head(1)

,Data Venda,Data Envio,ID Loja,ID Produto,ID Cliente,No. Venda,Custo Unitário,Preço Unitário,Quantidade,Valor Desconto,Valor Venda,Produto,Fabricante,Marca,Classe,Cor,custo,lucro,Tempo_Envio,Tempo_envio
0,2008-05-09,2008-05-29,199,384,18839,200805093CS607,348.58,758.0,6,0.0,4548.0,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red,2091.48,2456.52,20 days,20

In [ ]:
#verificando tipo coluna tempo_envio

In [ ]:
df["Tempo_envio"].dtypes

dtype('int64')

In [ ]:
#media do tempo de envio por marca

In [ ]:
df.groupby("Marca")["Tempo_envio"].mean()

Marca
Adventure Works    8.663866
Contoso            8.470930
Fabrikam           8.510121
Name: Tempo_envio, dtype: float64

Missing Value

In [ ]:
#verificando se temos dados faltante

In [ ]:
df.isnull().sum()

Data Venda        0
Data Envio        0
ID Loja           0
ID Produto        0
ID Cliente        0
No. Venda         0
Custo Unitário    0
Preço Unitário    0
Quantidade        0
Valor Desconto    0
Valor Venda       0
Produto           0
Fabricante        0
Marca             0
Classe            0
Cor               0
dtype: int64

SABER LUCRO POR ANO E POR MARCA

In [ ]:
#VAMOS AGRUPAR POR ANO E MARCA

In [ ]:
df.groupby([df["Data Venda"].dt.year, "Marca"])["lucro"].sum()

In [ ]:
pd.options.display.float_format = '{":20,.2f"}'.format



#resetando o index

In [ ]:
lucro_ano = df.groupby([df["Data Venda"].dt.year, "Marca"])["lucro"].sum().reset_index()
lucro_ano

In [ ]:
#qual total produtos vendidos

In [ ]:
df.groupby("Produto")["Quantidade"].sum().sort_values(ascending=False)

Produto
Headphone Adapter for Contoso Phone E130 Silver    25232
Headphone Adapter for Contoso Phone E130 White     25008
Adventure Works Laptop15.4W M1548 Black             1089
Fabrikam Trendsetter 2/3'' 17mm X100 Grey           1087
Adventure Works Laptop15.4W M1548 Red               1047
Fabrikam Trendsetter 2/3'' 17mm X100 Black           926
Fabrikam Trendsetter 1/3'' 8.5mm X200 Black          884
Fabrikam Trendsetter 1/3'' 8.5mm X200 Grey           845
Fabrikam Trendsetter 1/3'' 8.5mm X200 White          789
Name: Quantidade, dtype: int64

In [ ]:
#frafico total de produtos vendidos

In [ ]:
df.groupby("Produto")["Quantidade"].sum().sort_values(ascending=True).plot.barh(title="Total produtos Vendidos")
plt.xlabel("Total")
plt.ylabel("Produtos");

In [ ]:
df.groupby(df["Data Venda"].dt.year)["lucro"].sum().plot.bar(title="lucro x ano")
plt.xlabel("Ano")
plt.ylabel("Receita");

In [ ]:
df.groupby(df["Data Venda"].dt.year)["lucro"].sum()

In [ ]:
#SELECIONANDO APENAS A VEDA DE 2009

In [ ]:
df_2009 = df[df["Data Venda"].dt.year == 2019]

In [ ]:
df_2009.head(1)

Empty DataFrame
Columns: [Data Venda, Data Envio, ID Loja, ID Produto, ID Cliente, No. Venda, Custo Unitário, Preço Unitário, Quantidade, Valor Desconto, Valor Venda, Produto, Fabricante, Marca, Classe, Cor]
Index: []

In [ ]:
df_2009.groupby(["Data Venda"].dt.month)["Lucro"].sum().plot(title="lucro x mes")
plt.xlabel("mes")
plt.ylabel("lucro");

In [ ]:
df_2009.groupby("Marca"["lucro"].sum().plot.bar(title="lucro x mes")
plt.xlabel("Marca")
plt.ylabel("lucro");
plt.xticks(rotation='horinzotal');

In [ ]:
df_2009.groupby("classe"["lucro"].sum().plot.bar(title="lucro x classe")
plt.xlabel("classe")
plt.ylabel("lucro");
plt.xticks(rotation='horinzotal');

In [ ]:
df["Tempo_envio"].describe()

In [ ]:
#grafico de boxplot

In [ ]:
plt.boxplot(df["Tempo_envio"]);

In [ ]:
#histograma

In [ ]:
plt.hist(df["Tempo_envio"]);

In [ ]:
#tempo minimo de envio

In [ ]:
df["tempo_envio"].min()

In [ ]:
#tempo maximo envio

In [ ]:
df["tempo_envio"].max()

In [ ]:
#indentificando o outilier

In [ ]:
df[df["Tempo_envio"] == 20]

In [ ]:
df.to_csv("df_vendas_novo.csv", index=False)