<a href="https://colab.research.google.com/github/tiagosst/Desafio-Projeto-da-Bibliteca-Pandas-Python/blob/main/trabalhando_com_planilha_excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TRABALHANDO COM PLANILHAS EXCEL

In [ ]:
#importando a biblioteca

In [ ]:
import pandas as pd

In [ ]:
#leitura dos arquivos

In [ ]:
df1 = pd.read_excel("Aracaju.xlsx")
df2 = pd.read_excel("Fortaleza.xlsx")
df3 = pd.read_excel("Natal.xlsx")
df4 = pd.read_excel("Recife.xlsx")
df5 = pd.read_excel("Salvador.xlsx")

In [ ]:
df1.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [ ]:
#juntando todos os arquivos

In [ ]:
df = pd.concat([df1,df2,df3,df4,df5])

In [ ]:
#exibindo as 5 primeiras linhas

In [ ]:
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [ ]:
#exibindo as 5 ultimas linhas

In [ ]:
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [ ]:
#amostra de dados

In [ ]:
df.sample(5)

        Cidade       Data  Vendas  LojaID  Qtde
155      Natal 2019-01-02  237.81    1036     3
151   Salvador 2019-01-02   14.63    1035     1
1    Fortaleza 2019-01-01  115.61    1002     3
140  Fortaleza 2019-03-02  166.89     983     5
102     Recife 2019-01-01   96.50     982     7

In [ ]:
#verificando o tipo de cada dados

In [ ]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [ ]:
#alterando o tipo de dados da coluna lojaID

In [ ]:
df["LojaID"] = df["LojaID"].astype("object")

In [ ]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [ ]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde
0  Aracaju 2018-01-01  142.00   1520     1
1  Aracaju 2018-01-01   14.21   1522     6
2  Aracaju 2018-01-01   71.55   1520     1
3  Aracaju 2018-01-01    3.01   1521     7
4  Aracaju 2018-01-01   24.51   1522     8

TRATANDO VALORES FALTANTES

In [ ]:
#CONSULTANDO LINHAS COM VALORES FALTANTES

In [ ]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [ ]:
#substituindo valores nulo pela média

In [ ]:
df["Vendas"].fillna(df["Vendas"].mean(), inplace=True)

In [ ]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [ ]:
df.sample(15)

        Cidade       Data  Vendas LojaID  Qtde
157      Natal 2019-01-02  150.17   1036     2
126      Natal 2019-01-02   41.69   1036     2
75       Natal 2019-03-30  706.00    854     2
60     Aracaju 2018-01-01  215.88   1521     3
106    Aracaju 2018-01-01   16.32   1520     7
0     Salvador 2018-01-01   31.06   1037     3
132     Recife 2019-03-02   17.49    983     5
79   Fortaleza 2019-01-01   41.25   1005     6
136     Recife 2019-03-02   39.09    982     4
218   Salvador 2019-01-02  189.12   1036     3
193      Natal 2019-01-02    3.97   1036     2
110      Natal 2019-01-02  185.93   1036     3
28   Fortaleza 2019-01-01   34.88   1004     3
144   Salvador 2019-01-02   23.38   1034     1
43     Aracaju 2018-01-01   19.63   1523     9

In [ ]:
df["Vendas"].mean()

122.61180089485458

In [ ]:
#substituindo valores nulo pelo zero

In [ ]:
df["Vendas"].fillna(0, inplace=True)

In [ ]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [ ]:
#apagando linhas com valores nulo por zero

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [ ]:
#apagando as linhas com valores com base apenas em uma coluna

In [ ]:
df.dropna(subset=["Vendas"], inplace=True)

In [ ]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [ ]:
#removendo linhas que estão com valores faltando em todas as colunas

In [ ]:
df.dropna(how="all", inplace=True)

In [ ]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

CRIANDO COLUNAS NOVAS

In [ ]:
df["Receita"] = df["Vendas"].mul(df["Qtde"])

In [ ]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08

In [ ]:
df["receitas/Vendas"] = df["Receita"] / df["Vendas"]

In [ ]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita  receitas/Vendas
0  Aracaju 2018-01-01  142.00   1520     1   142.00              1.0
1  Aracaju 2018-01-01   14.21   1522     6    85.26              6.0
2  Aracaju 2018-01-01   71.55   1520     1    71.55              1.0
3  Aracaju 2018-01-01    3.01   1521     7    21.07              7.0
4  Aracaju 2018-01-01   24.51   1522     8   196.08              8.0

In [ ]:
#retornando a maior receita

In [ ]:
df["Receita"].max()

3544.0

In [ ]:
#retornando a menor receita
df["Receita"].min()

3.34

In [ ]:
#nlargest

In [ ]:
df.nlargest(3, "Receita")

   Cidade       Data  Vendas LojaID  Qtde  Receita  receitas/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0              4.0
51  Natal 2018-01-21   859.0    852     4   3436.0              4.0
55  Natal 2019-01-08   859.0    854     4   3436.0              4.0

In [ ]:
#nsmallest

In [ ]:
df.nsmallest(3, "Receita")

      Cidade       Data  Vendas LojaID  Qtde  Receita  receitas/Vendas
118  Aracaju 2018-01-01    3.34   1522     1     3.34              1.0
65    Recife 2019-01-01    4.01    981     1     4.01              1.0
92     Natal 2019-01-02    4.57   1035     1     4.57              1.0

In [ ]:
#agrupamento por cidade

In [ ]:
df.groupby("Cidade")["Receita"].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

In [ ]:
#ordenando o conjunto de dados

In [ ]:
df.sort_values("Receita", ascending=False ).head(10)

   Cidade       Data  Vendas LojaID  Qtde  Receita  receitas/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0              4.0
55  Natal 2019-01-08   859.0    854     4   3436.0              4.0
51  Natal 2018-01-21   859.0    852     4   3436.0              4.0
30  Natal 2018-10-02   856.0    853     4   3424.0              4.0
41  Natal 2018-05-20   835.0    852     4   3340.0              4.0
38  Natal 2018-02-25   828.0    852     4   3312.0              4.0
10  Natal 2018-10-27   828.0    852     4   3312.0              4.0
69  Natal 2019-03-24   817.0    852     4   3268.0              4.0
62  Natal 2018-02-10   793.0    854     4   3172.0              4.0
52  Natal 2018-04-27   778.0    854     4   3112.0              4.0